extends layout

block content
    h1= title
    if products.length > 0
        table.table
            thead
                tr
                    th Product
                    th Brand
                    th Approved
            tbody
                each product in products
                    tr(class=product.approved ? 'success' : 'danger')
                        td #{product.name}
                        td #{product.Brand.name}
                        td #{product.approved}
    else
        p No products have been added yet

    a#add.btn.btn-primary(href="../admin/product") Add Product