extends layout

block content
    h1= title
    if userProducts.length > 0
        table.table
            thead
                tr
                    th Product
                    th Description
                    th Result
            tbody
                each userProduct in userProducts
                    tr(class=userProduct.UserProductResultType.ResultType.good === null? '':(userProduct.ResultType? 'success' : 'danger'))
                        td #{userProduct.Product.name}
                        td #{userProduct.Product.description}
                        td #{userProduct.UserProductResultType.ResultType.description}
    else
        p Looks like you haven't added any products yet.

    a#add.btn.btn-primary(href="../user/product") Add Product